.App {
}

.App-link {
  color: #61dafb;
}

.container{
  display: 'block';
}

.output span{
  font-weight: bold;
}

form{
  width:300px;
  padding:10px;
  border:1px solid black;
}
.formControl{
  padding-top:25px;
  min-width: 350px;
  padding: 15px;
}
textField {
  width: 200px;
}

select{
  width: 200px;
}

input{
  min-width: 100px;
  margin-top:25px;
  padding:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
