.App {
}

.App-link {
  color: #61dafb;
}

.container{
  display: 'block';
}

form{
  width:300px;
  padding:10px;
  border:1px solid black;
}
.formControl{
  min-width: 350px;
  padding-bottom: 5px;
}
textField {
  width: 200px;
}

selectEmpty{
  width: 300px;
}
select{
  minWidth: 200px;
}

button{
  padding:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
